.link1{
    cursor: pointer;
}
.burger{
    width: 20px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
}
.line{
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
    transition: all 0.3s ease-in-out;
}

.responsiveMenu{
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100vw;
    height: calc(100vh - 200px);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
@media screen and (max-width: 640px) {
    .burger{display: flex;}
    .link1{
        display: none;
    }
}